@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:wght@100;500&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
}

$primary: #F65420;
$secondary: #4C9A91;
$secondary-invert: findColorInvert($secondary);
$title-color: $primary;
$title-weight:800;

// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $github: #333;
// $github-invert: findColorInvert($github);

$addColors: (
  "secondary":($secondary, $secondary-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
);
@import "../node_modules/bulma/sass/utilities/derived-variables";
$colors: map-merge($colors, $addColors);

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "bulma/bulma.sass";

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

